#exportPattern("^[[:alpha:]]+")
export(trait_model)
useDynLib(EasyABC)
export(ABC_rejection)
export(ABC_emulation)
export(ABC_sequential)
export(ABC_mcmc)
export(binary_model)
export(binary_model_cluster)
export(SABC)
import(MASS,mnormt,parallel,pls,abc,lhs,tensorA)
importFrom("stats", "as.formula", "cov", "cov.wt", "lm", "optimize", "rnorm", "runif", "sd", "uniroot", "var")
importFrom("utils", "flush.console", "read.table", "write.table")